build/
.DS_Store
**/*.pbxuser
*.mode2v3
*.mode1v3
**/*.perspectivev*
*.xcodeproj/project.xcworkspace/xcuserdata/*
**/UserInterfaceState.xcuserstate
*.xcodeproj/xcuserdata/*.xcuserdatad/*
TODO.txt
AGReader/books/
AGReader/books/*
*.ipa